<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/profilePic.png" alt="sandeep" class="img-fluid" title="sandeep mandal">
                    </figure>
                  </div>
                <!--left side div-->
                <div class="col-md-6 col-12 main_header_left">
                  <p>Welcome to  my weather app</p>
                  <h1>I Am A <span class="text_clr">Mern Stack Developer</span> </h1>
                  <a href="https://www.linkedin.com/in/sandeep-mandal-b93508207/"><button >About me</button></a>
              </div>
              <!--right side div-->
              
            </div>
        </div>
      </div>
    </div>
    {{>footer}}
    {{>script}}
  </body>
</html>
